
    <h1> The form is here!!!</h1>
    <form method="{{method}}" action="{{action}}/{{param}}">
       <label>Email</label> <input type="text" value="{{email}}" name = "email"/>
       <label>Location</label> <input type="text" value="{{location}}" name = "location"/>
       <label>Country</label> <input type="text" value="{{country}}" name = "country"/>
       <label>Time</label> <input type="text" value="{{time}}" name = "time"/>
       <label>Units</label> <input type="text" value="{{units}}" name = "units"/>
        <button type="submit">Submit</button>
    </form>
