
    <h1> The form is here!!!</h1>
    <form method="{{method}}" action="{{action}}/{{param}}">
        <input type="text" value="{{email}}" name = "email"/>
        <input type="text" value="{{location}}" name = "location"/>
        <input type="text" value="{{time}}" name = "time"/>
        <input type="text" value="{{units}}" name = "units"/>
        <button type="submit">Submit</button>
    </form>
